<footer class="footer bg-dark py-4 mt-auto">
    <div class="position-absolute  start-50 translate-middle">
        <span class="text-muted translate-middle">&copy;César Contreras 2021</span>
    </div>
</footer>