<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Santa Lucía</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Catalogo productos</a>
                <% if (usuarioLogeado) {%>
                    <a class="nav-link active" aria-current="page" href="/clientes">Clientes</a>
                    <% if (usuarioLogeado.rango!=="visitante" ){ %>
                        <a class="nav-link active" href="/clientes/nuevo">Nuevo Cliente</a>
                        <% } %>
                            <% } %>
            </div>
            <div class="navbar-nav ms-auto">
                <% if (usuarioLogeado && usuarioLogeado.rango!=="visitante" ){ %>
                    <a class="nav-link active" href="/registrar">Registrar</a>
                    <% } %>
                        <% if (usuarioLogeado){%>
                            <a class="nav-link active" href="/logout">Cerrar sesión</a>
                            <% } else {%>
                                <a class="nav-link active" aria-current="page" href="/login">Iniciar sesión</a>
                                <% } %>

            </div>
        </div>
    </div>
</nav>