<% layout("./layouts/base.ejs") %>
    <h1>Productos</h1>
    <div class="row">
        <% for (let producto of cliente.productos) { %>
            <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0 py-3 ">
                    <div class="col md-8 pl-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= producto.nombre.charAt(0).toUpperCase()+producto.nombre.slice(1) %>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Precio:
                                <%= producto.precio %>
                            </h6>
                            <h6 class="card-subtitle">
                                Categoría:
                                <%= producto.categoria %>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>