<% layout("./layouts/base.ejs") %>
    <h1>Productos</h1>
    <div class="row">
        <% for (let producto of cliente.productos) { %>
            <div class="col-sm-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= producto.nombre.charAt(0).toUpperCase()+producto.nombre.slice(1) %>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Precio:
                            <%= producto.precio %>
                        </h6>
                        <h6 class="card-subtitle">
                            Categoría:
                            <%= producto.categoria %>
                        </h6>
                    </div>
                </div>
            </div>
            <% } %>
    </div>