<% layout("./layouts/base.ejs") %>
    <h1>Nuevo producto</h1>
    <form action="/clientes/<%= id %>/productos" method="POST">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control">
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" min="0" step="0.01" name="precio" id="precio" class="form-control">
        </div>
        <div class="mb-3">
            <label for="categoria">Categoria</label>
            <select name="categoria" id="categoria" class="form-select">
                <option value="pollo">Pollo</option>
                <option value="res">Res</option>
                <option value="cerdo">Cerdo</option>
                <option value="pavo">Pavo</option>
                <option value="otros">Otros</option>
            </select>
        </div>

        <button class="btn btn-success">Agregar</button>
    </form>